.atas {
    display: flex;
}

.yellow {
    height: 100px;
    width: 25%;
    background-color: yellow;
    margin-right: 0;
    border: solid black;
}

.orange {
    height: 100px;
    width: 75%;
    background-color: orange;
    margin-left: 1%;
    border: solid black;
}

.tengah {
    display: flex;
    margin-top: 1%;
    gap: 2%;
}
.green {
    height: 730px;
    width: 25%;
    background-color: green;
    border: solid black;
    margin-right: -17px;
}

.grey {
    height: 730px;
    width: 49%;
    background-color: grey;
    border: solid black;
    margin-right: -18px;
}

.sky {
    height: 730px;
    width: 25%;
    background-color: skyblue;
    border: solid black;
}

.bawah {
    height: 100px;
    width: 100%;
    background-color: blue;
    margin-top: 1%;
    border: solid black;
}