.box{
    width: 200px;
    border: 3px solid purple;
    height: 400px;
    float: left;
    background-color: aqua;
    margin: auto 9px;
}

.box:nth-child(1) {
    background-color:red;
}
.box:nth-child(2) {
    background-color: yellow;
}
.box:nth-child(3) {
    background-color: green;
}
.box:nth-child(4) {
    background-color: aqua;
}

/* CSS untuk cssbox2.html */
.container {
    display: flex;
}